Repository cornell-dti/samwise, pull requests merged in 2019-11, with the labels that each got.

#342 Increase test coverage of the frontend codebase
  frontend/.eslintignore
  frontend/package.json
  frontend/src/components/Popup/AllComplete/__snapshots__/index.test.tsx.snap
  frontend/src/components/Popup/AllComplete/index.test.tsx
  frontend/src/components/Popup/AllComplete/index.tsx
  frontend/src/components/TaskCreator/FocusPicker.test.tsx
  frontend/src/components/TaskCreator/TagPicker.test.tsx
  frontend/src/components/TaskCreator/__snapshots__/FocusPicker.test.tsx.snap
  frontend/src/components/TaskCreator/__snapshots__/TagPicker.test.tsx.snap
  frontend/src/components/TaskCreator/__snapshots__/index.test.tsx.snap
  frontend/src/components/TaskCreator/index.test.tsx
  frontend/src/components/TaskView/FocusView/ClearFocus.test.tsx
  frontend/src/components/TaskView/FocusView/CompletedSeparator.test.tsx
  frontend/src/components/TaskView/FocusView/__snapshots__/ClearFocus.test.tsx.snap
  frontend/src/components/TaskView/FocusView/__snapshots__/CompletedSeparator.test.tsx.snap
  frontend/src/components/TaskView/FutureView/FutureViewDay.test.tsx
  frontend/src/components/TaskView/FutureView/FutureViewSubTask.test.tsx
  frontend/src/components/TaskView/FutureView/FutureViewSubTask.tsx
  frontend/src/components/TaskView/FutureView/FutureViewTask.test.tsx
  frontend/src/components/TaskView/FutureView/__snapshots__/FutureViewDay.test.tsx.snap
  frontend/src/components/TaskView/FutureView/__snapshots__/FutureViewSubTask.test.tsx.snap
  frontend/src/components/TaskView/FutureView/__snapshots__/FutureViewTask.test.tsx.snap
  frontend/src/components/TaskView/ProgressTracker/Bear.test.tsx
  frontend/src/components/TaskView/ProgressTracker/ProgressIndicator.test.tsx
  frontend/src/components/TaskView/ProgressTracker/__snapshots__/Bear.test.tsx.snap
  frontend/src/components/TaskView/ProgressTracker/__snapshots__/ProgressIndicator.test.tsx.snap
  frontend/src/components/TaskView/ProgressTracker/__snapshots__/index.test.tsx.snap
  frontend/src/components/TaskView/ProgressTracker/index.test.tsx
  frontend/src/components/TaskView/ProgressTracker/index.tsx
  frontend/src/components/TitleBar/Onboarding/Onboard.test.tsx
  frontend/src/components/TitleBar/Onboarding/Onboard.tsx
  frontend/src/components/TitleBar/Onboarding/__snapshots__/Onboard.test.tsx.snap
  frontend/src/components/TitleBar/Tags/rotation-color-picker.test.ts
  frontend/src/components/TitleBar/Tags/rotation-color-picker.ts
  frontend/src/components/TitleBar/__snapshots__/index.test.tsx.snap
  frontend/src/components/TitleBar/index.test.tsx
  frontend/src/components/UI/Tooltip.test.tsx
  frontend/src/components/UI/__snapshots__/Tooltip.test.tsx.snap
  frontend/src/components/Util/ErrorBoundary/__snapshots__/index.test.tsx.snap
  frontend/src/components/Util/ErrorBoundary/index.test.tsx
  frontend/src/firebase/auth-util.test.ts
  frontend/src/firebase/db.test.ts
  frontend/src/serviceWorker.test.ts
  frontend/src/store/state.ts
  frontend/src/util/course-util.test.ts
  frontend/src/util/general-util.test.ts
Labels: easy, frontend

#353 Implement mode-indicator
  frontend/src/App.tsx
  frontend/src/components/UI/ModeIndicator.module.css
  frontend/src/components/UI/ModeIndicator.test.tsx
  frontend/src/components/UI/ModeIndicator.tsx
  frontend/src/components/UI/__snapshots__/ModeIndicator.test.tsx.snap
  frontend/src/util/mode-util.test.ts
  frontend/src/util/mode-util.ts
Labels: UI, easy, enhancement, frontend

#362 Warn against TODO/FIXME/XXX comments
  frontend/.eslintrc
Labels: code-style, easy

#364 Improve performance for useMappedWindowSize hook.
  frontend/src/hooks/window-size-hook.ts
Labels: easy, enhancement, frontend

#357 Add repeat frequency header
  frontend/src/assets/svgs/repeat-frequency.svg
  frontend/src/components/TaskView/FocusView/FocusTask.module.css
  frontend/src/components/UI/SamwiseIcon.tsx
  frontend/src/components/UI/samwise-icon-types.tsx
  frontend/src/components/Util/TaskEditors/TaskEditor/RepeatFrequencyHeader.module.css
  frontend/src/components/Util/TaskEditors/TaskEditor/RepeatFrequencyHeader.tsx
  frontend/src/components/Util/TaskEditors/TaskEditor/index.tsx
Labels: frontend

#371 Fix React warning of no unique key in DatePicker
  frontend/src/components/TaskCreator/DatePicker.tsx
Labels: bug, easy, frontend
