Repository cornell-dti/samwise, pull requests merged in 2019-04, with the labels that each got.

#214 Bump dependencies version & Added CI badge to README
  .gitignore
  README.md
  frontend/package.json
  frontend/yarn.lock
Labels: code-style

#225 fix task creator a11y regression
  frontend/src/components/TaskCreator/index.tsx
Labels: frontend

#228 Fix #227
  frontend/src/store/selectors.ts
Labels: bug, frontend

#229 Tabbing improvements (Fix #197)
  frontend/src/components/TaskView/FocusView/CompletedSeparator.module.css
  frontend/src/components/TaskView/FutureView/FutureViewControl.module.css
  frontend/src/components/TaskView/FutureView/FutureViewTask.module.css
  frontend/src/components/TaskView/FutureView/FutureViewTask.tsx
  frontend/src/components/UI/CheckBox.module.css
  frontend/src/components/UI/CheckBox.tsx
  frontend/src/components/UI/SamwiseIcon.tsx
  frontend/src/components/UI/SquareButtons.module.css
  frontend/src/components/Util/TaskEditors/TaskEditor/OneSubTaskEditor.tsx
  frontend/src/components/Util/TaskEditors/TaskEditor/index.module.css
  frontend/src/components/Util/TaskEditors/TaskEditor/index.tsx
  frontend/src/index.non-module.css
Labels: bug, frontend

#232 SCSS support
  frontend/package.json
  frontend/src/colors.scss
  frontend/src/components/TaskCreator/index.module.css
  frontend/src/components/TaskView/FocusView/CompletedSeparator.module.scss
  frontend/src/components/TaskView/FocusView/CompletedSeparator.tsx
  frontend/src/components/TaskView/FutureView/FutureViewControl.module.scss
  frontend/src/components/TaskView/FutureView/FutureViewControl.tsx
  frontend/src/components/TaskView/FutureView/FutureViewDay.module.scss
  frontend/src/components/TaskView/FutureView/FutureViewDay.tsx
  frontend/src/components/TaskView/FutureView/FutureViewDayContent.tsx
  frontend/src/components/TaskView/ProgressTracker/ProgressIndicator.module.scss
  frontend/src/components/TaskView/ProgressTracker/ProgressIndicator.tsx
  frontend/src/index.scss
  frontend/src/index.tsx
  frontend/yarn.lock
Labels: code-style

#239 Various Easy UI Fix
  frontend/public/index.html
  frontend/src/components/TaskCreator/Picker.module.css
  frontend/src/components/TaskView/FutureView/FutureViewControl.module.scss
  frontend/src/components/TaskView/FutureView/FutureViewControl.tsx
  frontend/src/components/TaskView/FutureView/FutureViewTask.module.css
  frontend/src/components/TaskView/index.tsx
  frontend/src/components/UI/SquareButtons.module.scss
  frontend/src/components/UI/SquareIconToggle.tsx
  frontend/src/components/UI/SquareTextButton.tsx
  frontend/src/components/Util/TaskEditors/FloatingTaskEditor.module.css
  frontend/src/components/Util/TaskEditors/FloatingTaskEditor.tsx
  frontend/src/components/Util/TaskEditors/TaskEditor/index.module.css
  frontend/src/hooks/window-size-hook.ts
Labels: bug, frontend

#242 A11y improvements (Close #201, #230)
  frontend/src/components/TaskView/FutureView/FutureViewControl.module.scss
  frontend/src/components/TaskView/FutureView/FutureViewControl.tsx
  frontend/src/components/TitleBar/Onboarding/Onboard.module.scss
  frontend/src/components/TitleBar/Onboarding/Onboard.tsx
  frontend/src/components/UI/SamwiseIcon.tsx
Labels: bug, frontend

#243 Add task-diff-reducer
  frontend/src/components/Util/TaskEditors/TaskEditor/task-diff-reducer.ts
  frontend/src/store/store-types.ts
Labels: frontend

#244 Firebase actions (merge in master changes)
  frontend/src/components/TaskView/FutureView/FutureViewControl.module.scss
  frontend/src/components/TaskView/FutureView/FutureViewControl.tsx
  frontend/src/components/TitleBar/Onboarding/Onboard.module.scss
  frontend/src/components/TitleBar/Onboarding/Onboard.tsx
  frontend/src/components/UI/SamwiseIcon.tsx
  frontend/src/components/Util/TaskEditors/TaskEditor/task-diff-reducer.ts
  frontend/src/store/store-types.ts
Labels: frontend

#248 Create pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: code-style

#245 TaskEditor v2 with partial support for repeated task
  frontend/.eslintrc
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/TaskView/FutureView/FutureViewSubTask.tsx
  frontend/src/components/TaskView/FutureView/FutureViewTask.tsx
  frontend/src/components/Util/Modals/ChoiceModal.tsx
  frontend/src/components/Util/Modals/index.tsx
  frontend/src/components/Util/TaskEditors/FloatingTaskEditor.tsx
  frontend/src/components/Util/TaskEditors/InlineTaskEditor.tsx
  frontend/src/components/Util/TaskEditors/TaskEditor/MainTaskEditor.tsx
  frontend/src/components/Util/TaskEditors/TaskEditor/OneSubTaskEditor.tsx
  frontend/src/components/Util/TaskEditors/TaskEditor/index.module.css
  frontend/src/components/Util/TaskEditors/TaskEditor/index.tsx
  frontend/src/components/Util/TaskEditors/TaskEditor/task-diff-reducer.ts
  frontend/src/components/Util/TaskEditors/editors-types.ts
  frontend/src/firebase/actions.ts
  frontend/src/firebase/firestore-types.ts
  frontend/src/index.tsx
  frontend/src/store/store-types.ts
  frontend/src/util/task-util.test.ts
  frontend/src/util/task-util.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: enhancement, frontend

#250 Fix type errors related to repeated task refactoring
  frontend/src/components/TaskCreator/index.tsx
  frontend/src/firebase/firestore-types.ts
  frontend/src/firebase/listeners.ts
  frontend/src/util/undo-util.ts
Labels: bug, frontend

#251 Fix linter problem for hooks rules and fix modal init
  frontend/.eslintrc
  frontend/src/components/TaskCreator/index.tsx
  frontend/src/components/Util/Modals/index.tsx
  frontend/src/hooks/window-size-hook.ts
Labels: bug, frontend

#253 Basic Repeating Task GUI
  frontend/src/components/TaskCreator/DatePicker.module.css
  frontend/src/components/TaskCreator/DatePicker.tsx
  frontend/src/components/TaskCreator/Picker.module.css
  frontend/src/components/TaskCreator/index.tsx
  frontend/src/firebase/firestore-types.ts
  frontend/src/firebase/listeners.ts
  frontend/src/store/reducers.ts
  frontend/src/store/store-types.ts
  frontend/src/util/bitwise-util.ts
  frontend/src/util/const-util.ts
Labels: frontend

#254 Fix is-staging config for google analytics
  frontend/src/util/ga-util.ts
Labels: bug, frontend
