Repository cornell-dti/samwise, pull requests merged in 2019-10, with the labels that each got.

#300 Use firebase analytics
  frontend/package.json
  frontend/src/firebase/index.ts
  frontend/src/util/ga-util.ts
  frontend/yarn.lock
Labels: frontend

#302 Mobile improvements
  frontend/src/App.module.css
  frontend/src/App.tsx
  frontend/src/components/TaskView/FutureView/FutureViewControl.tsx
  frontend/src/components/TaskView/ProgressTracker/Bear.module.css
  frontend/src/components/TaskView/ProgressTracker/ProgressIndicator.module.scss
  frontend/src/components/TaskView/ProgressTracker/ProgressIndicator.tsx
  frontend/src/components/TaskView/ProgressTracker/index.module.css
  frontend/src/components/TaskView/index.module.css
  frontend/src/components/TaskView/index.tsx
  frontend/src/components/TitleBar/Settings/SettingsButton.module.css
  frontend/src/index.scss
Labels: frontend

#303 Better and more snapshot tests
  frontend/src/components/TitleBar/Settings/SettingsPage.test.tsx
  frontend/src/components/TitleBar/Settings/__snapshots__/SettingsPage.test.tsx.snap
  frontend/src/components/TitleBar/Tags/ClassTagAdder.test.tsx
  frontend/src/components/TitleBar/Tags/ColorEditor.test.tsx
  frontend/src/components/TitleBar/Tags/OtherTagAdder.test.tsx
  frontend/src/components/TitleBar/Tags/TagItem.test.tsx
  frontend/src/components/TitleBar/Tags/__snapshots__/ClassTagAdder.test.tsx.snap
  frontend/src/components/TitleBar/Tags/__snapshots__/ColorEditor.test.tsx.snap
  frontend/src/components/TitleBar/Tags/__snapshots__/OtherTagAdder.test.tsx.snap
  frontend/src/components/TitleBar/Tags/__snapshots__/TagItem.test.tsx.snap
  frontend/src/index.tsx
  frontend/src/store/index.tsx
  frontend/src/store/reducers.ts
  frontend/src/store/state.ts
  frontend/src/store/store.ts
Labels: frontend

#320 Fix deployment workflow
  .github/workflows/ci-workflow.yml
  .github/workflows/release-workflow.yml
Labels: workflows

#322 [editor][misc] Hide lastpass form fill overlay
  frontend/src/components/Util/TaskEditors/TaskEditor/MainTaskEditor.tsx
  frontend/src/components/Util/TaskEditors/TaskEditor/NewSubTaskEditor.tsx
  frontend/src/components/Util/TaskEditors/TaskEditor/OneSubTaskEditor.tsx
Labels: frontend

#324 [ci] Fix cleanup workflow
  .github/workflows/cleanup-workflow.yml
Labels: bug

#325 [misc] Fix weird indentation in firestore.rules
  firestore.rules
Labels: code-style

#328 Start to unify usage of current time for deterministic testing
  frontend/package.json
  frontend/src/components/TaskView/FutureView/FutureViewControl.tsx
  frontend/src/components/TaskView/FutureView/FutureViewDayTaskContainer.tsx
  frontend/src/components/TaskView/FutureView/__snapshots__/index.test.tsx.snap
  frontend/src/components/TaskView/FutureView/index.test.tsx
  frontend/src/components/TaskView/FutureView/index.tsx
  frontend/src/components/TitleBar/index.tsx
  frontend/src/hooks/time-hook.ts
  frontend/yarn.lock
Labels: frontend

#334 Search Box Optimization
  frontend/src/components/TitleBar/Tags/ClassTagAdder.tsx
  frontend/src/components/Util/SearchBox/index.tsx
Labels: easy, enhancement, frontend

#336 Try to unbreak CI staging deploy
  .github/workflows/ci-workflow.yml
Labels: bug
