Repository cornell-dti/samwise, pull requests merged in 2020-02, with the labels that each got.

#403 Update Dates for Spring 2020
  common/src/util/const-util.ts
Labels: UI, easy, high-pri

#392 Dark Mode (internal-only)
  common/src/types/store-types.ts
  frontend/src/components/TaskCreator/index.test.tsx
  frontend/src/components/TaskCreator/index.tsx
  frontend/src/components/TaskView/FutureView/FutureViewDay.tsx
  frontend/src/components/TaskView/FutureView/FutureViewDayContent.tsx
  frontend/src/components/TaskView/index.tsx
  frontend/src/components/TitleBar/index.tsx
Labels: UI, design, frontend

#411 Automatically create PR to update JSON when E2E course-info failed
  .github/workflows/e2e-course-info.yml
Labels: workflows
